#BG{
background-image:url("silverware.jpg");
}

.UpperHome{
text-align:center;
margin:auto;
}
.UpperHome>h1{
font-size:40px;
max-width:1024px;
padding: 40px 0;
}

.hasBoarder > h1{
margin:auto;
text-align: center;
}

.mid{
  padding-top: 50px;
  padding-bottom: 50px;
  margin: 0 auto;
  color: #a4a400;
  text-align: center;
  align-self: center;

  }
/* Generalization */


div {
max-width:1024px;
margin:auto;
font-family:Segoe UI
}
.hasBoarder {
max-width:512px;
text-align: center;
color:#a4a400;
background-color:#f0f0f0;
border-radius: 40px;
margin: 0;
padding:20px 0;
border:2px solid green;
text-align: center;
}
#center{
margin:auto;
text-align: center;
}
.smaller{
max-width:512px;
margin:auto;
max-width:512px;
}

ul {
  list-style-image: url('fish_icon_24.png');
}