<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SWE363-HW2-201853280</title>
    <link rel="stylesheet" href="FishRecipe.css">
</head>
<body class="BG">
<h1 class="hasBoarder" id="center">INGREDIENTS</h1>
<div class="index">
    <ul id="ul1" class="Columnized">
        <li>
            <a href="FishFingerCSS.html">
                <img class="pic" src="JumboFishFingers.jpg" width="400" height="170">
            </a>
        </li>
        <li>
            <a href="FishFingerCSS.html">
            <img class="pic" src="roast-chicken-dishes-recipe.png" width="400" height="170">
            </a>
        </li>
        <li>
            <a href="FishFingerCSS.html">
            <img class="pic" src="classic-chocolate-mousse.jpg" width="400" height="170">
            </a>
        </li>
    </ul>
</div>
</body>
</html>